body {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('assets/login_img.png');
    backdrop-filter: blur(5px);
    background-size: cover;
    background-position: center;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    width: 100%;
    max-width: 800px;
    padding: 24px;
}

.row {
    display: flex;
    align-items: center;
    gap: 20px;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}